.symbol-item {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  background-color: #f2f2f2;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.symbol-item .close {
  cursor: pointer;
  margin-left: 0.5rem;
}

.home-row {
  margin-top: 5rem;
}

.prediction-container {
  margin-top: 100px;
}

.arrow {
  font-size: 30px;
}

.spinner-border {
  height: 3rem;
  width: 3rem;
}

/* Styles for the settings menu */
.settings-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Styles for the background overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.interval-div {
  width: 50%;
}

.trades {
  margin-top: 100px;
}
