{% extends 'base.html' %}

{% block title %}QuidBot{% endblock %}

{% block header %}
<div class="container my-5">
    <h1 class="display-4">Welcome to Quidbot</h1>
</div>
{% endblock %}


{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <p class="lead">Your personal trading bot, helping you trade your money automatically.</p>
            <hr class="my-4">
            <p>Quidbot is a trading bot that automatically trades on the stock market. With it's advanced algorithms, real-time market data analysis, and intuitive
                interface, you can stay ahead of the curve and achieve your trading goals.</p>
            <a class="btn btn-primary btn-lg" href="{{ url_for('auth.register')}}" role="button">Get Started</a>
        </div>
        <div class="col-md-6">
            <!-- <img src="{{ url_for('static', filename='landing-image.png') }}" class="img-fluid" alt=""> -->
        </div>
    </div>
</div>

{% endblock %}