{% extends 'base.html' %}

{% block script %}
<script src="https://cdn.plot.ly/plotly-2.29.1.min.js" charset="utf-8" defer></script>
<script src="{{ url_for('static', filename='stockGraph.js') }}" defer></script>

{% endblock %}


{% block content %}
<div class="container">
    <br><br>
    <h2 class="h1 display-5">Pick a Stock to View</h2>
</div>
<div class="container">
    <form id="stock-form" method="post">
        <div class="mb-3">
            <label for="stock" class="form-label">Stock Ticker:</label>
            <input name="stock" type="text" class="form-control" id="stock" placeholder="AAPL" required>
        </div>
        <div class="mb-3">
            <label for="period" class="form-label">Time Period:</label>
            <select class="form-select" id="period" aria-label="Default select example">
                <option selected>Select a time period</option>
                <option value="1mo">1 month</option>
                <option value="3mo">3 months</option>
                <option value="6mo">6 months</option>
                <option value="1y">1 year</option>
                <option value="2y">2 years</option>
            </select>
            <br>
        </div>
        <div>
            <input type="submit" class="btn btn-primary btn-lg" value="Get Stock Data">
            <a href="{{ url_for('home.index')}}" class="btn btn-secondary btn-lg float-end">Go Back</a>
        </div>
    </form>

    <div id="stock-graph"></div>
</div>

{% endblock %}